.overlay__adcar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* background-color: rgba(118, 117, 117, 0.5); */
    background-color: #fff;
    z-index: 10;
    text-align: center;
    overflow: auto;
    height: 400px;
    padding: 10% 0 50px 25%;
}
.close__adcar {
    position: absolute;
    top: 30%;
    right: 2%;
    cursor: pointer;
    padding: 10px;
    background-color: #fff;
    border: none;
    font-size: 20px;
}
.form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto 20px;
    border: 1px solid rgb(144, 144, 144);
    background-color: rgb(204, 235, 195);
    height: auto;
}
.form__label {
    display: flex;
    margin: 5px 0;
}
.form__label-text {
    width: 20%;
}
.form__label input {
    width: 80%;
    height: 40px;
    margin:auto  10px ;
    padding-left: 10px;
    border-radius: 10px;
    border: none;
}
input:focus {
  outline: none;
}
.form__button {
    width: 100px;
    padding: 10px 15px;
    margin: 0 auto 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
