.location {
    width: 100%;
    height: auto;
    padding: 90px 20px 50px;
    margin: 0 auto;
    text-align: center;
  }
  
  .location__text {
    font-size: 6rem;
    color: var(--text-color);
    margin-bottom: 40px;
    text-align: center;
  }
  .location__search {
    width: 80%;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    background-color: var(--white-color);
    border-radius: 10px;
    margin: 0 auto 40px;
    cursor: pointer;
  }
  .location__search-form {
    width: 70%;
  }
  .location__search-form-input {
    border: none;
    width: 100%;
    height: 100%;
    margin: auto 0;
    padding-left: 10px;
  }
  .location__search-form-input:focus {
    outline: none;
  }
  .location__search-button {
    width: 50px;
    background-color: var(--button-color);
    color: var(--white-color);
    font-size: 1.6rem;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .location__search-button:hover {
    cursor: pointer;
  }
  .location__search-button-icon {
  
  }
  .location__list {
    display: block;
   flex-wrap: wrap;
   justify-content: flex-start;
  }
  
  .location__list-child {
    width: 32%;
    height: 460px;
    background-color: var(--white-color);
    border-radius: 20px;
    padding: 15px;
    margin: 5px;
    text-decoration: none;
    color: var(--text-color);
    border:solid 0.1px #e3e3e3;
  }
  
  .location__list-child nav {
    position: relative;
  }
  
  .location__list-child-img {
    width: 100%;
    height: 250px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 30px;
  }
  
  .location__list-child-img-flash {
    position: absolute;
    top: 5px;
    left: 5px;
  }
  
  .location__list-child-img-tax {
    position: absolute;
    top: 5px;
    left: 110px;
  }
  
  .location__list-child-img-flash-text {
    color: var(--white-color);
  }
  
  .location__list-child-img-tax-text {
    color: var(--white-color);
  }
  
  .location__list-child-auto {
    display: flex;
    margin-bottom: 10px;
  }
  
  /* cái này để đặt vị trí thôi */
  /* .location__list-child-auto-car {
  } */
  .location__list-child-auto-car-text {
    font-size: 1.1rem;
  }
  
  .location__list-child-name {
    display: flex;
    margin-bottom: 10px;
  }
  
  .location__list-child-name i {
    margin-left: 10px;
    font-size: 2rem;
    color: var(--button-color);
  }
  
  .location__list-child-name-main {
    font-size: 2rem;
  }
  
  .location__list-child-location {
    display: flex;
  }
  
  .location__list-child-location i {
    font-size: 1.5rem;
  }
  
  .location__list-child-location-text {
    margin-left: 5px;
    font-size: 1.2rem;
    opacity: 0.8;
  }
  
  .location__list-child-underlined {
    width: 80%;
    height: 1px;
    background-color: var(--text-color);
    opacity: 0.5;
    margin: 10px auto;
  }
  
  .location__list-child-detail {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
  }
  
  .location__list-child-detail-evaluate {
    display: flex;
  }
  
  .location__list-child-detail-evaluate-star {
    display: flex;
    margin-right: 10px;
  
  }
  
  .location__list-child-detail-evaluate-star i {
    color: var(--star-color);
    font-size: 1.2rem;
  }
  
  .location__list-child-detail-evaluate-star-text {
    margin-left: 5px;
  }
  
  .location__list-child-detail-evaluate-usage {
    display: flex;
  }
  
  .location__list-child-detail-evaluate-usage i {
    color: var(--button-color);
    font-size: 1.2rem;
  }
  
  .location__list-child-detail-evaluate-usage-text {
    margin-left: 5px;
  }
  
  .location__list-child-detail-buy {
    line-height: 18px;
    font-size: 1.5rem;
  }
  
  .location__list-child-detail-buy-sale {
    color: var(--button-color);
    margin-left: 70px;
  }
  
  .location__list-child-detail-buy-day span {
    opacity: 0.6;
  }
  
  
  /* Phần mobile mới hiển thị slide hình ảnh nhé */
  
  /* Tùy chỉnh nút trái */
  /* .slick-prev {
    width: 60px !important;
    height: 60px !important;
    border-radius: 50%;
    position: absolute;
    z-index: 5;
    margin-left: -7px;
    background-color: var(--main-color)!important;
    color: var(--text-color) !important;
  } */
  
  /* Tùy chỉnh nút phải */
  /* .slick-next {
    width: 60px !important;
    height: 60px !important;
    border-radius: 50%;
    position: absolute;
    z-index: 5;
    margin-left: -7px;
    background-color: var(--main-color)!important;
    color: var(--text-color) !important;
  } */
  /* Tùy chỉnh nút con phía dưới */
  .slick-dots {
    position: absolute;
    bottom: -40px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
  }
  .slick-dots li button:before {
    font-family: 'slick';
    font-size: 8px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    location: '•';
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .location__mobile {
    width: 100%;
    height: auto;
    padding: 90px 20px 50px;
    margin: 10px auto;
    /* text-align: center; */
    background-color: var(--main-color);
     display: none;
  }
  
  .slick-slide > div {
    margin: 0 10px;
  }
  .slick-list {
    margin: 0 -10px;
  }
  
  .location__mobile-child {
    /* đặt chiều rộng không có ý nghĩa lắm vì mình có thể điều chỉnh slider */
    /* width: 450px;  */
    height: auto;
    padding: 15px;
    margin: 5px;
    border:solid 0.1px #e3e3e3;
    background: var(--white-color);
    border-radius: 20px;
    text-decoration: none;
    overflow: hidden;
    color: var(--text-color);
    cursor: pointer;
  }
  .location__mobile-child-top {
    position: relative;
  }
  .location__mobile-child-top img {
    width: 100%;
    height: 250px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 30px;
    /* position: relative; */
  }
  .child__absolute {
    display: flex;
    width: 95%;
    /* justify-location: space-between; */
    position: absolute;
    top: 2%;
    left: 2%;
    flex-wrap: wrap;
  }
  .location__mobile-child-img-tax {
    margin:0 5px 5px 0;
  }
  .location__mobile-child-img-tax-text,
  .location__mobile-child-img-flash-text {
    color: var(--white-color);
  }
  /* .location__mobile-child-img-tax {
    position: absolute;
    top: 2%;
    left: 2%;
  }
  .location__mobile-child-img-tax-text,
  .location__mobile-child-img-flash-text {
    color: var(--white-color);
    z-index: 5;
  }
  .location__mobile-child-img-flash {
    position: absolute;
    top: 2%;
    left: 33%;
  } */
  .location__mobile-child-auto {
    width: 100%;
  }
  .location__mobile-child-auto-car {
    margin: -10px 0 10px;
  }
  .location__mobile-child-auto-car-text {
    font-size: 1.1rem;
  }
  .location__mobile-child-name {
    display: flex;
    margin-bottom: 10px;
  }
  
  .location__mobile-child-name i {
    margin: 5px 0 0 10px;
    font-size: 2rem;
    color: var(--button-color);
  }
  
  .location__mobile-child-name-main {
    font-size: 2rem;
  }
  .location__mobile-child-location {
  display: flex;
  }
  
  .location__mobile-child-location i {
  font-size: 1.5rem;
  }
  
  .location__mobile-child-location-text {
  margin-left: 5px;
  font-size: 1.2rem;
  opacity: 0.8;
  }
  .location__mobile-child-underlined {
    width: 80%;
    height: 1px;
    background-color: var(--text-color);
    opacity: 0.5;
    margin: 10px auto;
  }
  .location__mobile-child-detail {
    display: flex;
    justify-location: space-between;
    font-size: 1.2rem;
  }
  .location__mobile-child-detail-evaluate {
    display: flex;
  }
  .location__mobile-child-detail-evaluate-star {
    display: flex;
    margin-right: 10px;
  
  }
  
  .location__mobile-child-detail-evaluate-star i {
    color: var(--star-color);
    font-size: 1.2rem;
  }
  
  .location__mobile-child-detail-evaluate-star-text {
    margin-left: 5px;
  }
  
  .location__mobile-child-detail-evaluate-usage {
    display: flex;
  }
  
  .location__mobile-child-detail-evaluate-usage i {
    color: var(--button-color);
    font-size: 1.2rem;
  }
  
  .location__mobile-child-detail-evaluate-usage-text {
    margin-left: 5px;
  }
  .location__mobile-child-detail-buy {
   font-size: 1.5rem;
  }
  .location__mobile-child-detail-buy-sale {
    color: var(--button-color);
    /* margin-left: 70px; */ 
  }
  
  /* Reponsive */
  
  /* Mobile 0-750px */
  @media (max-width: 46.875em) {
    .location {
      width: 100%;
      height: auto;
      padding: 60px 5px 50px;
    }
  
    .location__text {
      font-size: 3.8rem;
      margin-bottom: 40px;
    }
    .location__search {
      margin-bottom: 15px;
    }
  
    .location__list-child-name-main {
      font-size: 1.6rem;
    }
  
    .location__list-child {
      display: none;
    }
    .location__mobile {
      display: block;
      width: 100%;
    }
    .location__mobile-child-name-main {
      font-size: 1.45rem;
    }
    
  }
  
  /* Mobile 0-600px */
  @media (max-width: 37.5em) {
    .location {
      width: 100%;
      height: auto;
      padding: 50px 10px 50px;
    }
  
    .location__text {
      font-size: 3.5rem;
      margin-bottom: 30px;
    }
  
     /* Ẩn các thuộc tính cũ */
    .location__list {
      /* display: none; */
      margin-top: 30px;
    }
  
    /* Thể hiện slide cho mobile */
    .location__mobile {
      width: 100%;
      height: auto;
      padding: 0;
      margin: 60px auto 0;
      /* text-align: center; */
      background-color: var(--main-color);
       display: block;
    }
  .location__mobile-child-name-main {
    font-size: 1.4rem;
  }
   
  }
  
  /* Mobile 0-550px */
  @media (max-width: 34.375em) {
    .location {
      width: 100%;
      height: auto;
      padding: 50px 10px 50px;
    }
  
    .location__text {
      font-size: 3rem;
    }
    .location__list {
      /* display: none; */
    }
    .location__mobile {
      width: 80%;
      height: auto;
      padding: 0;
      margin: 60px auto 0;
      /* text-align: center; */
      background-color: var(--main-color);
       display: block;
    }
  .location__mobile-child-name-main {
    font-size: 1.4rem;
  }
  }
  
  /* Mobile 0-400px */
  @media (max-width: 25em) {
    .location {
      width: 100%;
      height: auto;
      padding: 50px 10px 50px;
    }
  
    .location__text {
      font-size: 3rem;
    }
    .location__list {
      /* display: none; */
    }
    .location__mobile {
      width: 98%;
      height: auto;
      padding: 0;
      margin: 60px auto 0;
      /* text-align: center; */
      background-color: var(--main-color);
       display: block;
    }
  .location__mobile-child-name-main {
    font-size: 1.4rem;
  }
  }
  
  /* Tablet 751px - 990px */
  @media(min-width: 46.9375em) and (max-width: 61.875em) {
    .location__text {
      font-size: 5rem;
    }
  
    .location__list-child-name-main {
      font-size: 1.8rem;
    }
  
    .location__list-child {
      width: 48%;
      height: auto;
      background-color: var(--white-color);
      border-radius: 20px;
      padding: 15px;
      margin: 5px;
    }
  
    .location__list-child-img {
      width: 100%;
      height: 300px;
      border-radius: 20px;
      background-repeat: no-repeat;
      background-size: 100%;
      margin-bottom: 30px;
    }
  }
  
  /* PC > 991px */
  @media (min-width: 61.9375em) {
    .location__list-child-name-main {
      font-size: 2rem;
    }
  }
  
  /* PC (991-1050) */
  @media (min-width: 61.9375em) and (max-width: 65.625em) {
    .location__text {
      font-size: 5.5rem;
    }
  
    .location__list-child-name-main {
      font-size: 1.9rem;
    }
  }
  