.myfavs-cars-title{
  font-size: 2.5rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.myfavs-cars-title p{
  font-size: 1.75rem;
}

.myfavs-cars{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 2rem;
  opacity: 0.8;
}

/* mycars */
.account-balance{
  display: flex;
  justify-content: flex-end;
  font-size: 3rem;
  align-items: center;
}

.myfavs-cars-title-filter{
  display: flex;
  align-items: center;
  gap: 10px;
}

.myfavs-cars-title-filter select {
  cursor: pointer;
  padding: 12px 36px 12px 12px;
  font-size: 1.75rem;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
}

.myfavs-cars-title-filter select option{
  cursor: pointer;
}

/* mytrips */

.content-box-mytrips{
  display: flex;
  padding: 45px 30px 50px;
  width: 100%;
  border-radius: 20px;
  flex-direction: column;
  gap: 20px;
}
.mytrips-mode{
  display: flex;
  padding: 20px;
}

.mytrips-mode-tab{
  font-size: 2rem;
  min-width: 350px;
  max-width: unset;
}
.mytrips-mode-tab .mytrips-link{
  padding: 20px;
}

.active{
  border-bottom: 3px solid #5fcf86;
}

.myfavs-cars-table{
  font-size: 1.5rem;
}

.myfavs-table-content{
  padding: 10px;
}

/* myreward */
.myfavs-cars .install-app{
  display: flex;
  gap: 20px;
}

.myaddress-form{
  background-color: var(--white-color);
  gap: 30px;
}

.myaddress-add{
  font-size: 1.75rem;
  padding: 12px 20px;
  border: 1px solid #000;
  border-radius: 8px;
}

/* resetpw */
.box-title{
  display: flex;
  gap: 10px;
  flex-direction: column;
  font-size: 18.175px;
  padding-bottom: 20px;
}
.myfavs-cars-content{
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.form-content{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  font-size: 2rem;
  opacity: 0.8;
}

.form-content input {
  width: 100%;
  padding: 12px;
  font-size: 1.775rem;
  border-radius: 8px;
}

.resetpw-btn{
  justify-content: flex-end;
  display: flex;
}

.resetpw-btn-submit{
  padding: 12px 20px;
  font-size: 2rem;
  border: 1px solid #000;
  border-radius: 8px;
  background-color: #5fcf86;
}

/* deleteaccount */
.deleteaccount-form{
  padding-top: 100px;
}

.deleteaccount-content{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
} 

.deleteaccount-content h2 {
  text-align: center;
  font-size: 2.755rem;
}

.deleteaccount-content img{
  width: 360px;
}

.deleteaccount-content-inner{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 660px;
  font-size: 1.775rem;
}

.deleteaccount-content-inner ul{
  padding-left: 24px;
}

.deleteaccount-btn{
  font-size: 2rem;
  padding: 12px 20px;
  border: 1px solid red;
  background: red;
  border-radius: 8px;
}

/* active */
.user-active{
  border-left: 4px solid var(--button-color);
}
/* sua lai mycar */
.owner-report--heading{
  background-color: #000;
  color: #fff;
  padding: 20px;
  text-transform: uppercase;
}

.myfavs-cars-content{
  width: 90%;
  padding-bottom: 45px;
  margin: 0 auto;
  height: auto;
  background-color: var(--white-color);
}

.owner-report-body{
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  gap: 20px;
}

.owner-report-body .money{
  text-align: center;
  font-size: 2rem;
}

.summary-change{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.775rem;
  background-color: #f6f6f6;
  padding: 10px;
}
/* Trong file CSS của bạn */
.love__car-box {
  width: 100%;
  background-color: var(--white-color);
  padding: 10px 0 0 10px;
  margin: 10px;
}
.love__car-content {
  width: 100%;
}
.myfavs-cars {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(550px, 90%));
  gap: 20px;
}
.car-item {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.car-item:hover {
  transform: scale(1.05);
}

.car-item img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.car-item h4 {
  margin-bottom: 5px;
  font-size: 18px;
}

.car-item p {
  font-size: 16px;
  color: #555;
}
.love__car-link {
  width: auto;
  border: none;
  padding: 0px;
  background-color: var(--main-color);
  border-radius: 20px;
}
.love__car-child {
  height: auto;
  padding: 0px;
  margin: 5px;
  /* border:solid 0.1px #4e4545; */
  background:var(--main-color);
  border-radius: 20px;
  text-decoration: none;
  overflow: hidden;
  color: var(--text-color);
  cursor: pointer;
}
.love__car-child-top {
  position: relative;
}
.love__car-child-top img {
  width: 100%;
  height: 250px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-bottom: 30px;
  /* position: relative; */
}
.child__absolute {
  display: flex;
  width: 95%;
  /* justify-content: space-between; */
  position: absolute;
  top: 2%;
  left: 2%;
  flex-wrap: wrap;
}
.absolute__heart {
  position: absolute;
  top: 2%;
  right: 4%;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background-color: rgba(135, 135, 135, 0.5);
   border: none;
   cursor: pointer;
}
.absolute__heart i{
  font-size: 1.8rem;
  color: red;
}
.love__car-child-bottom {
  padding: 0 5px;
}
/* button */
.contentproduct__evaluate-button {
  width: 10%;
  height: 30px;
  align-self: flex-end;
  cursor: pointer;
}
.absolute__user {
  position: absolute;
  bottom: -5%;
  left:  4%;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
}
.absolute__user img {
  width: 100%;
  height: 100%;
}
.love__car-child-img-tax {
  margin:0 5px 5px 0;
}
.love__car-child-img-tax-text,
.love__car-child-img-flash-text {
  color: var(--white-color);
  font-size: 1.2rem;
}
.love__car-child-auto {
  width: 100%;
}
.love__car-child-auto-car {
  margin: -10px 0 10px;
}
.love__car-child-auto-car-text {
  font-size: 1.1rem;
}
.love__car-child-name {
  display: flex;
  margin-bottom: 10px;
}

.love__car-child-name i {
  margin: 5px 0 0 10px;
  font-size: 1.5rem;
  color: var(--button-color);
}

.love__car-child-name-main {
  font-size: 1.5rem;
}
.love__car-child-name-main h3 {
  width: 200px;
  white-space: nowrap;      
  overflow: hidden;        
  text-overflow: ellipsis; 
}
.love__car-child-location {
display: flex;
}

.love__car-child-location i {
font-size: 1.5rem;
}

.love__car-child-location-text {
margin-left: 5px;
font-size: 1.2rem;
opacity: 0.8;
}
.love__car-child-underlined {
  width: 80%;
  height: 1px;
  background-color: var(--text-color);
  opacity: 0.5;
  margin: 10px auto;
}
.love__car-child-detail {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}
.love__car-child-detail-evaluate {
  display: flex;
}
.love__car-child-detail-evaluate-star {
  display: flex;
  margin-right: 10px;

}

.love__car-child-detail-evaluate-star i {
  color: var(--star-color);
  font-size: 1.2rem;
}

.love__car-child-detail-evaluate-star-text {
  margin-left: 5px;
}

.love__car-child-detail-evaluate-usage {
  display: flex;
}

.love__car-child-detail-evaluate-usage i {
  color: var(--button-color);
  font-size: 1.2rem;
}

.love__car-child-detail-evaluate-usage-text {
  margin-left: 5px;
}
.love__car-child-detail-buy {
 font-size: 1.5rem;
}
.love__car-child-detail-buy-sale {
  color: var(--button-color);
  margin-left: 50px;
}
.love__car-child-detail-buy-day {
  margin-right: 5px;
}
.button-centerlovecar {
  width: 100%;
  text-align: center;
}
.button_dontlove {
  /* text-align: center; */
  background-color: var(--button-color);
  color: var(--white-color);
  border: none;
  font-weight: 600;
  margin: 10px auto;
}
@media(max-width: 576px) {
  .myfavs-cars-title {
      font-size: 2.3rem;
      margin: 10px 0;
  }
  .mytrips-mode-tab {
      font-size: 1.8rem;
      margin-left: -20px;
    }
    .mytrips-mode-tab .mytrips-link{
      padding: 10px;
  }  
  .love__car-child {
    width: 90%;
  }
  .love__car-child-top img {
    width: 100%;
  }
}
@media(max-width: 550px) {
  .myfavs-cars {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(auto, 90%));
    gap: 20px;
  }
  .love__car-link {
    width: auto;
  }
  .love__car-child {
    width: 90%;
    margin: 0 auto;
  }
  .love__car-child-top img {
    width: 100%;
  }
}
@media(max-width: 350px) {
  .myfavs-cars-title{
      font-size: 2.2rem;
  }
  .mytrips-mode-tab {
      font-size: 1.7rem;
      margin-left: -30px;
    }
    .mytrips-mode-tab .mytrips-link{
      padding: 10px;
  }  
}

