@media (max-width: 1199px) {
    .userinfor__papers{
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .userinfor__papers-content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 50px;
        padding: 0 30px;
    }
    .userinfor__papers-content-right {
      width: 100%;
      margin-top: 30px;
    }

    .userinfor__papers-content-left{
      width: 80%;
    }
    .userinfor__papers-content-left-input{
        width: 100%;
    }

    .userinfor__papers-content-right-img{
        width: 80%;
        margin: 0 auto;
    }
    .userinfor__profile-account-bonus-main .userinfor__profile-detail-trip{
      display: none;
    }
}


/* dropdown */

.dropdown-menu {
    position: relative;
    display: none;
    width: 100%;
  }
  
  .dropdown-button {
    background-color: var(--white-color);
    color: #000000;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: start;
    font-size: 2rem;
    border: 1px solid rgba(49, 47, 47, 0.5);
    border-radius: 7px;
  }
  
  .dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 100%;
    z-index: 4;
    font-size: 2rem;
    border-radius: 5px;
  }
  
  .dropdown-list-link {
    text-decoration: none;
  }
  .dropdown-list li {
    padding: 10px;
    cursor: pointer;
    border-top: 1px solid #ccc;
    color: #000000;
  }
  
  .dropdown-list li:hover {
    background-color: #f2f2f2;
  }
  
  .dropdown-menu.active .dropdown-list {
    display: block;
  }
  

@media (max-width: 992px) {
    .mainuser{
        background-color: var(--main-color);
    }
    .userinfor{
       flex-direction: column; 
       padding: 80px 0;
       max-width: 720px;
       margin: 0 auto;
    }
    .userinfor__nav{
        display: none;
        
    }
    .userbox{
        width: 100%;
    }

    /* mobile menu */
    .dropdown-menu{
      display: inline-block;
    }

    .userinfor__profile-account-bonus-main .userinfor__profile-detail-trip{
      display: none;
    }

    /* modal */
    .modal-content{
      width: 90% !important;
    }
}

@media (max-width: 767px){
  .userinfor{
    max-width: 540px;
    margin: 0 auto;
  }
  .userinfor__profile-main{
    display: flex;
    flex-direction: column;
  }

  .userinfor__profile-detail{
    width: 100%;
  }

  .userinfor__profile-account-bonus-main .userinfor__profile-detail-trip{
    display: none;
  }
}

@media (max-width: 577px){
    .userinfor{
      margin: 0 10px;
  }

  .userinfor__papers-header-first{
    display: flex;
    flex-direction: column;
  }
  .userinfor__profile-detail-trip{
    display: none;
  }

  .userinfor__profile-account-bonus-main .userinfor__profile-detail-trip{
    display: block;
    padding-top: 10px;
  }

  .userinfor__profile-account-bonus-main .userinfor__profile-detail-trip-button{
    height: 40px;
    align-items: center;
  }

  .userinfor__profile-account-bonus-main{
    display: flex;
    justify-content: center;
  }
  .userinfor__profile-account-bonus{
    margin: 0;
  }

  /* mycar */
  .content-box{
    padding: 45px 0 0 0;
  }

  .summary-change{
    font-size: 1.455rem !important  ;
  }
}

@media (max-width: 414px){
  .userinfor__profile-detail-list-number{
    flex-direction: column;
    gap: 10px;
  }
  .userinfor__profile-detail-list {
    font-size: 0.875rem;
  }

}

@media (max-width: 414px){
  .userinfor__papers-header-last{
    line-height: 35px;
    height: 35px;
  }
  .userinfor__papers-header-last-text{
    margin: 0 auto;
  }
}

/* modal reponsive */
@media (max-width: 1280px){
  .modal-content {
    max-width: 780px;
  }
}