/* Phần thanh thông tin bên trái */
.userinfor {
    background-color: var(--main-color);
    padding: 80px 40px 0;
    display: flex;
    gap: 10px;
}

.userinfor__nav {
    width: 28%;
    height: 100%;
}

.userinfor__nav-name {
    font-size: 3rem;
    margin-bottom: 30px;
}

.userinfor__nav-list {}

.userinfor__nav-list-child {
    display: flex;
    height: 60px;
    font-size: 1.5rem;
    margin: auto;
    border-top: 1px solid var(--navunderlined-color);
    line-height: 60px;
    padding-left: 10px;
}

/* .userinfor__nav-list-child:nth-child(1) {
    border-left: 5px solid var(--button-color);
} */

.userinfor__nav-list-child-icon {
    margin-right: 15px;
    opacity: 0.7;
}

.userinfor__nav-list-child-text {
    opacity: 0.7;
}

/* Phần thanh thông tin bên phải */
.userbox {
    width: 70%;
    display: flex;
    flex-direction: column;
}
.userinfor__profile {
    display: flex;
    flex-direction: column;
    padding: 45px 30px;
    width: 100%;
    /* height: 470px; */
    background-color: var(--white-color);
    border-radius: 20px;
    margin-bottom: 20px;
    gap: 50px;
}

.userinfor__profile-main{
    display: flex;
    gap: 50px;
}
.userinfor__profile-account {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.userinfor__profile-account-title{
    display: flex;
    justify-content: space-between;
}

.userinfor__profile-account-projectname {
    font-size: 2.5rem;
    width: 75%;

}

.userinfor__profile-account-img {
    width: 145px;
    height: 145px;
    border-radius: 50%;
    margin: 0 auto 20px;
}

.userinfor__profile-account-name {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    line-height: 25px;
}

.userinfor__profile-account-text {
    font-size: 1.4rem;
    opacity: 0.6;
    margin-bottom: 20px;
    text-align: center;
}

.userinfor__profile-account-bonus-main{
    display: flex;
}

.userinfor__profile-account-bonus {
    display: flex;
    /* width: 120px; */
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid var(--navunderlined-color);
    border-radius: 20px;
    margin: 0 auto;
}

.userinfor__profile-account-bonus-icon {
    font-size: 2rem;
    color: var(--star-color);
    align-items: center;
    margin: 0 10px;

}

.userinfor__profile-account-bonus-name {
    font-size: 2rem;
    padding-right: 10px;
}

/* Phần này là phần bên phải của thông tin khách hàng */

.userinfor__profile-detail {
    width: 65%;
}

.userinfor__profile-detail-trip {
    display: flex;
}

.userinfor__profile-detail-trip-icon {
    width: 30px;
    height: 30px;
    border: 1px solid var(--navunderlined-color);
    border-radius: 50%;
    font-size: 1.2rem;
    line-height: 30px;
    text-align: center;
}

.userinfor__profile-detail-trip-button {
    width: 135px;
    height: 65px;
    border: 1px solid var(--navunderlined-color);
    border-radius: 20px;
    display: flex;
    color: var(--button-color);
    line-height: 65px;
    margin-top: -10px;
}

.userinfor__profile-detail-trip-button-icon {
    font-size: 2rem;
    color: var(--button-color);
    margin: 0 15px 0 5px;
}

.userinfor__profile-detail-trip-button-text {
    font-size: 2rem;
}

.userinfor__profile-detail-trip-button-text span {
    opacity: 0.6;
}


.userinfor__profile-detail-form {
    width: 100%;
    height: 95px;
    background-color: var(--main-color);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
}

.userinfor__profile-detail-form-date {
    display: flex;
    justify-content: space-between;
    color: var(--text-color);
    margin-bottom: 20px;
}

.userinfor__profile-detail-form-date-name {
    font-size: 1.5rem;
    opacity: 0.4;

}

.userinfor__profile-detail-form-date-text {
    font-size: 1.5rem;
}

.userinfor__profile-detail-form-sex {
    display: flex;
    justify-content: space-between;
    color: var(--text-color);
}

.userinfor__profile-detail-form-sex-name {
    font-size: 1.5rem;
    opacity: 0.4;

}

.userinfor__profile-detail-form-sex-text {
    font-size: 1.5rem;
}


.userinfor__profile-detail-list {

}
.userinfor__profile-detail-list-number {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.userinfor__profile-detail-list-number-name {
    font-size: 1.3rem;
    opacity: 0.4;
}
.userinfor__profile-detail-list-number-text i{
   margin-left: 10px;
}
/* Phần giấy phép lái xe */
/* Phần header */
.userinfor__papers {
    width: 100%;
    /* height: 445px; */
    background-color: var(--white-color);
    border-radius: 20px;
    padding: 30px;
}
.userinfor__papers-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.userinfor__papers-header-first {
    display: flex;
}
.userinfor__papers-header-first-name {
    margin-right: 10px;
    font-size: 2rem;
}
.userinfor__papers-header-first-button {
    display: flex;
}
.userinfor__papers-header-first-button i{
    font-size: 1rem;
    color: var(--white-color);
    background-color: red;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 5px;
    display: inline-block;
    line-height: 10px;
}
.userinfor__papers-header-first-button p{
    font-size: 1rem;
    margin-top: -2px;
}
.userinfor__papers-header-last {
    width: 125px;
    height: 44px;
    display: flex;
    line-height: 44px;
    border-radius: 20px;
    border: 1px solid var(--text-color);
}
.userinfor__papers-header-last-text {
    font-size: 1.5rem;
    margin: 0  10px;

}
.userinfor__papers-header-last-icon {
    font-size: 1.5rem;
}
/* Phần giấy phép lái xe , phần chi tiết */
.userinfor__papers-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
/* Phần bên trái */
.userinfor__papers-content-left {
    display: flex;
    flex-direction: column;
    width: 40%;
}
.userinfor__papers-content-left-name{
    font-size: 2rem;
    margin-bottom: 20px;
}
.userinfor__papers-content-left-text {
    font-size: 1.5rem;
    opacity: 0.6;
    margin-bottom: 10px;
}
.userinfor__papers-content-left-input {
    width: 300px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: var(--main-color);
    padding-left: 10px;
    font-size: 1.5rem;
    margin-bottom: 20px;
    opacity: 1.5;
}

.active-userinfor{
    opacity: 1.5;
}
.userinfor__papers-content-left .enabled{
    opacity: 0.6;
}
/* Phần bên phải hình ảnh */
.userinfor__papers-content-right {
    display: flex;
    flex-direction: column;
    width: 50%
}
.userinfor__papers-content-right-name {
    font-size: 2rem;
    margin-bottom: 20px;
}
.userinfor__papers-content-right-img {
    display: contents;
}

.userinfor__bootom {
    width: 100%;
    height: 60px;
    background-color: var(--main-color);
}

.link-active{
    border-left: 4px var(--button-color) solid;
}

.update-papers{
    display: flex;
    gap: 10px;
}


.button-enable{
    background-color: var(--button-color);
    color: #fff;
    font-weight: 700;
    border: solid 1px;
    padding: 11px 20px;
    border-radius: 20px;
    font-size: 1.444rem;
    cursor: pointer;
}

.button-enable:hover{
    box-shadow: 0px 2px 4px -1px 
            rgba(0,0,0,0.2), 0px 4px 5px 0px 
            rgba(0,0,0,0.14), 0px 1px 10px 0px 
            rgba(0,0,0,0.12);
}

.button-enable-cancel:hover{
    box-shadow: 0px 2px 4px -1px 
            rgba(0,0,0,0.2), 0px 4px 5px 0px 
            rgba(0,0,0,0.14), 0px 1px 10px 0px 
            rgba(0,0,0,0.12);
}

.button-enable-cancel{
    background-color: red;
    color: #fff;
    font-weight: 700;
    border: solid 1px;
    padding: 11px 20px;
    border-radius: 20px;
    font-size: 1.444rem;
}

.userinfor__papers-content-right-img-fill{
    padding: 10px;
    border-radius: 8px;
    border: 1px solid;
}

/* giay phep lai xe */
.add-imgage-GPLX{
    display: flex;
    align-items: center;
}
.image-GPLX{
    max-width: 375px;
    max-height:240px ;
}

.success-notification-GPLX {
    color: #fff;
    font-size: 2rem;
    position: fixed;
    top: -100px; /* Bắt đầu ẩn thông báo ở trên cùng */
    right: 20px;
    background-color: #54cd58;
    padding: 20px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    animation: fadeInUp 1s ease-in-out; /* Thêm animation để xuất hiện mượt mà */
    animation-fill-mode: forwards; /* Giữ lại trạng thái cuối cùng của animation */
  }



.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: var(--button-color);
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
}

.inputfile:focus+label,
.inputfile+label:hover {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
label > p {
    padding-left: 5px;
}
.error-message{
    font-size: 1.244rem;
    color: red;
    padding-bottom: 15px;
}

.userinfor__papers-header-first .userinfor__papers-header-first-button{
    width: unset;
    padding-right: 5px;
    margin-bottom: 0;
}

.userinfor__papers-header-first .userinfor__papers-header-first-button > p{
    font-size: 1.522rem;
}

@media (max-width: 767px){
    .userinfor__papers-content-left{
        width: 100%;
    }
}