.blog {
    background-image: url(../../../../public/vanh.jpg);
    width: 100%;
    padding-top: 30px;
    margin:0 0 80px;
}

.blog__name {
    text-align: center;
}

.blog__name-main {
    font-size: 4rem;
    margin-bottom: 80px;
}

.blog__content {
    display: flex;
    margin: 0 40px;
}

/* Cái này là tập hợp 2 ảnh nhỏ */
.blog__content-firt {
    width: 32%;
    margin-right: 10px;
}

/* cái này là ảnh nhỏ ở trên */
 .blog__content-firt-firt {
    margin-bottom: 10px;
    width: 100%;
    height: 250px;
    position: relative;
}

.blog__content-firt-firt-img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.blog__content-firt-firt-text {
    position: absolute;
    top: 135px;
    left: 20px;
    right: 20px;
    color: var(--white-color);
    line-height: 30px;
    text-decoration: none;
}

.blog__content-firt-firt-text-text {
    font-size: 1.5rem;
}

.blog__content-firt-firt-text-main {
    font-size: 1.6rem;
}

/* cái này là ảnh nhỏ ở dưới */
.blog__content-firt-last {
    width: 100%;
    height: 250px;
    position: relative;
}

.blog__content-firt-last-img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.blog__content-firt-last-text {
    position: absolute;
    top: 135px;
    left: 20px;
    right: 20px;
    color: var(--white-color);
    line-height: 30px;
    text-decoration: none;
}

.blog__content-firt-last-text-text {
    font-size: 1.5rem;
}

.blog__content-firt-last-text-main {
    font-size: 1.6rem;
}

/* Còn cái này là ảnh lớn nhất  */

.blog__content-last {
    margin-bottom: 20px;
    width: 32%;
    height: 510px;
    position: relative;
    margin-right: 20px;
}

.blog__content-last-img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.blog__content-last-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: var(--white-color);
    line-height: 30px;
    text-decoration: none;
}

.blog__content-last-text-text {
    font-size: 1.8rem;
}

.blog__content-last-text-main {
    font-size: 2.5rem;
}

/* blog slider */
.blog__mobile {
    width: 98%;
    margin: 0 auto;
    margin-top: 50px;
    /* display: block; */
    display: none;
  }
  
  .slick-slide > div {
    margin: 0 10px;
  }
  .slick-list {
    margin: 0 -10px;
  }
  
  .blog__mobile-slider {
    border: 1px solid #fff;
    border-radius: 8px;
    overflow: hidden;
    height: 300px;
    cursor: pointer;
    position: relative;
  }
  .blog__mobile-slider img {
    width: 100%;
    height: 100%;
    /* position: relative; */
    object-fit: cover;
  }
 .blog__mobile-slider-text {
    position: absolute;
    top: 65%;
    left: 2%;
    margin: 10px;
    color: #fff;
    line-height: 17px;
 }
.blog__mobile-slider-text p {
    font-size: 1.2rem;
}
.blog__mobile-slider-text h3 {
    font-size: 1.5rem;
}

/* Reponsive */
/* Tablet 0 - 990px */
@media(max-width: 61.875em) {
    .slick-prev, .slick-next {
        display: none !important;
    }
    .blog {
        width: 95%;
        margin:0 auto 70px;
    }
    
    .blog__name-main {
        font-size: 3.8rem;
        margin-bottom: 70px;
    }
    .blog__content {
        display: none;
    }
    .blog__mobile {
        display: block;
    }
    .blog__mobile-slider {
        height: 250px;
    }
}
/* Tablet 0 - 850px */
@media(max-width: 53.125em) {
    .slick-prev, .slick-next {
        display: none !important;
    }
    .blog {
        width: 98%;
        margin:0 auto 70px;
    }
    
    .blog__name-main {
        font-size: 3.5rem;
        margin-bottom: 50px;
    }
    .blog__content {
        display: none;
    }
    .blog__mobile {
        display: block;
    }
    .blog__mobile-slider-text {
        position: absolute;
        top: 70%;
        left: 2%;
        margin: 10px;
        color: #fff;
        line-height: 17px;
     }
}
/* Tablet 0 - 600px */
@media(max-width: 37.5em) {
    .slick-prev, .slick-next {
        display: none !important;
    }
    .blog {
        width: 94%;
        margin:0 auto 70px;
    }
    
    .blog__name-main {
        font-size: 3rem;
        margin-bottom: 40px;
        margin-top: -40px;
    }
    .blog__content {
        display: none;
    }
    .blog__mobile {
        display: block;
    }
    .blog__mobile-slider-text {
        position: absolute;
        top: 70%;
        left: 2%;
        margin: 10px;
        color: #fff;
        line-height: 17px;
     }
    .blog__mobile-slider-text p {
        font-size: 1.4rem;
        margin-bottom: 10px;
    }
    .blog__mobile-slider-text h3 {
        font-size: 1.8rem;
    }
}
/* Tablet 0 - 480px */
@media(max-width: 30em) {
    .slick-prev, .slick-next {
        display: none !important;
    }
    .blog {
        width: 98%;
        margin:0 auto 70px;
    }
    
    .blog__name-main {
        font-size: 2.8rem;
        margin-bottom: 20px;
    }
    .blog__content {
        display: none;
    }
    .blog__mobile {
        display: block;
    }
    .blog__mobile-slider {
        height: 210px;
    }
    .blog__mobile-slider-text {
        position: absolute;
        top: 65%;
        left: 2%;
        margin: 10px;
        color: #fff;
        line-height: 17px;
     }
    .blog__mobile-slider-text p {
        font-size: 1rem;
        margin-bottom: 5px;
    }
    .blog__mobile-slider-text h3 {
        font-size: 1.4rem;
    }
}
/* PC >=991 */
@media (min-width: 61.9375em) {
    
}
.blog__content {
    overflow: hidden;
  }
  
  .blog__slider {
    width: 80%;
    margin-left: 100px;
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .blog__slide {
    margin-left: 22px;
    margin-right: 22px;
    flex: 0 0 33.333%;
  }
  .blog__slide:hover {
    border: 1px solid rgb(0, 208, 255);
    border-radius: 5px;
  }
  /* Đảm bảo blog hiển thị ngang nhau trên mọi kích thước màn hình */
  .blog__slide img {
    margin-top: 10px;
    margin-left: 10px;
    width: 95%;
    height: 300px;
  }
  /* Nếu bạn muốn các blog có kích thước cố định */
  /*.blog__slide {
    flex: 0 0 300px;
  }*/
  
  /* Đặt các blog sang trái và ẩn đi các blog không phải ở slide hiện tại */
  .blog__slide {
    background-color: white;
    height: 470px;
    display: inline-block;
    opacity: 1;
    transition: opacity 0.5s ease;
  }
  
  .blog__slide.active {
    opacity: 1;
  }
  .titleblog{
    margin-top: 8px;
    margin-left: 5px;
  }
  .contentblog{
    height: 60px;
    margin-left: 5px;
  }
  .viewblog{
    border: none;
    width: 70px;
    height: 30px;
    border-radius: 5px;
    background-color: #0D6EFD;
    color: white;
    margin-left: 5px;
  }
  .hrtachanh{
    background-color: rgb(0, 208, 255);
    height: 1px;
    border: 1px solid rgb(0, 208, 255);
  }