.footer {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgb(255, 255, 255);
    margin-bottom: -15px;
}
.footer__dash {
    width: 100%;
    height: 1px;
    background-color: var(--text-color);
    opacity: 0.6;
}

.footer__content {
    display: flex;
    width: 100%;
    margin-bottom: 30px;
    padding: 0 20px;
    margin-top: 50px;
}

/* Header bên trái */
.footer__content-firt {
    width: 25%;
    height: auto;
    margin-left: 230px;
}

.footer__content-firt-img {
    height: 200px;
    width: 70%;
    margin-bottom: 35px;
}

.footer__content-firt-phone {
    width: 100%;
    margin-bottom: 35px;
    line-height: 25px;
}

.footer__content-firt-phone-number {
    font-size: 1.5rem;
}

.footer__content-firt-phone-text {
    width: 100%;
    font-size: 1.5rem;
    opacity: 0.6;
}

.footer__content-firt-email {
    margin-bottom: 40px;
    line-height: 25px;
}

.footer__content-firt-emai-name {
    font-size: 1.5rem;
}

.footer__content-firt-email-text {
    font-size: 1.5rem;
    opacity: 0.6;
}

.footer__content-firt-icon {
   width: 100%;
    display: flex;
}

.footer__content-firt-icon i {
    margin-right: 20px;
    width: 15%;
    height: 40px;
    border-radius: 50% ;
    border: solid 1px var(--text-color);
    text-align: center;
    line-height: 40px;
    font-size: 1.8rem;
}
.footer__content-firt-icon i:hover {
    cursor: pointer;
    background-color: var(--main-color);
}

/* Header bên phải */
.footer__content-list {
    width: 75%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0 0;
}
.footer__content-list-child {
    list-style: none;
}
.footer__content-list-child-name {
    font-size: 2rem;
    margin-bottom: 30px;
}
/* Phần text không có tiêu đề */
.footer__content-list-child-name-none{
 margin-top: 25px;
}
.footer__content-list-child-text {
  display: flex;
  flex-direction: column;
}
.footer__content-list-child-text-text {
    font-size: 1.6rem;
    opacity: 0.6;
    line-height: 50px;
}

/* Phần tên cty + ngày cấp  */
.footer__license{
    width: 100%;
    display: flex;
    padding: 40px 20px;
}
.footer__license-firt{
    width: 25%;
    font-size: 1.6rem;
    opacity: 0.6;
}
.footer__license-last{
    width: 75%;
    display: flex;
    justify-content: space-between;
}
.footer__license-last-text{
    font-size: 1.6rem;
    opacity: 0.6;
}

/* Phần địa chỉ và số tài khoản */
.footer__location{
    width: 100%;
    display: flex;
    padding: 40px 20px;
    line-height: 25px;
}
.footer__location-firt{
    width: 25%;
    font-size: 1.6rem;
    opacity: 0.6;
    padding: 0 20px 0 0;
}
.footer__location-last{
    width: 75%;
    display: flex;
    justify-content: space-between;
}
.footer__location-last-text{
    font-size: 1.6rem;
    opacity: 0.6;
}

/* Phần bộ công thương và icon thanh toán */
.footer__img{
    width: 100%;
    display: flex;
    padding: 50px 20px;
}
.footer__img-fist{
    width: 25%;
}
.footer__img-firt-img{
    width: 60%;
}
.footer__img-last{
    width: 75%;
    display: flex;
}
.footer__img-last-text{
    font-size: 1.6rem;
    opacity: 0.6;
    width: 25%;
}
.footer__img-last-icon{
    width: 75%;

}
.footer__img-last-icon-img{
    width: 60px;
    margin: 0 20px;
}   
  
/* Reponsive */
/* Mobile 0-769px */
@media (max-width: 35.625em) {
    .footer__content {
        max-width: 470px;
        /* display: flex; */
        flex-wrap: wrap;
        padding: 0 20px;
        margin: 50px auto;
    }
    
    /* Header trên cùng */
    .footer__content-firt {
        width: 100%;
        display: flex;
       flex-direction: column;
    }
    
    .footer__content-firt-img {
        width: 60%;
        height: auto;
    }
    .footer__column {
        width: 50%;
    }
    .footer__content-firt-phone {
        width: 100%;
        line-height: 25px;
    }
    
    .footer__content-firt-phone-number {
        font-size: 1.3rem;
    }
    
    .footer__content-firt-phone-text {
        width: 100%;
        font-size: 1.3rem;
        opacity: 0.6;
    }
    
    .footer__content-firt-email {
        width: 100%;
        line-height: 25px;
        margin-top: -20px;
    }
    
    .footer__content-firt-emai-name {
        font-size: 1.3rem;
    }
    
    .footer__content-firt-email-text {
        font-size: 1.3rem;
        opacity: 0.6;
    }
    
    .footer__content-firt-icon {
       width: 40%;
       display: flex;
       margin: -20px 0 20px;
    }
    
    .footer__content-firt-icon i {
        margin-right: 20px;
        width: 25%;
        height: 35px;
        border-radius: 50% ;
        border: solid 1px var(--text-color);
        text-align: center;
        line-height: 35px;
        font-size: 1.7rem;
        padding: 5px;
    }
    
    /* Header thứ 2 */
    .footer__content-list {
        width: 470px;
        display: flex;
        flex-direction: column;
    }
    .footer__content-list-child {
        list-style: none;
    }
    .footer__content-list-child-name {
        font-size: 1.7rem;
        margin: 15px 0;
    }
    /* Phần text không có tiêu đề */
    .footer__content-list-child-name-none{
     margin: 10px 0;
    }
    .footer__content-list-child-text-text {
        font-size: 1.4rem;
        opacity: 0.6;
        line-height: 35px;
    }
    
    /* Phần tên cty + ngày cấp  */
    .footer__license{
        width: 100%;
        flex-direction: column;
        margin: 0 auto;
    }
    .footer__license-firt{
        width: 100%;
        font-size: 1.5rem;
        opacity: 0.6;
        margin-bottom: 20px;
    }
    .footer__license-last{
        width: 100%;
        display: flex;
       flex-direction: column;
    }
    .footer__license-last-text{
        font-size: 1.4rem;
        line-height: 30px;
        opacity: 0.6;
    }
    
    /* Phần địa chỉ và số tài khoản */
    .footer__location{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 0 15px;
    }
    .footer__location-firt{
        width: 100%;
        font-size: 1.4rem;
        opacity: 0.6;
        margin: 10px 0;
    }
    .footer__location-last{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .footer__location-last-text{
        font-size: 1.4rem;
        opacity: 0.6;
    }
    
    /* Phần bộ công thương và icon thanh toán */
    .footer__img{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 15px;
        margin: 15px auto 10px;
    }
    .footer__img-fist{
        width: 100%;
    }
    .footer__img-firt-img{
        width: 50%;
        margin-bottom: 10px;
    }
    .footer__img-last{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .footer__img-last-text{
        font-size: 1.4rem;
        opacity: 0.6;
        width: 100%;
        margin: 10px 0;
    }
    .footer__img-last-icon{
        width: 100%;
    
    }
    .footer__img-last-icon-img{
        width: 50px;
        margin: 0 5px;
    }  
}

/* Mobile 570px-768px nhma phải viết theo 769px :)) */
@media (min-width: 35.625em) and (max-width: 48.0625em) {
    .footer__content {
        width: 570px;
        /* display: flex; */
        flex-wrap: wrap;
        padding: 0 20px;
        margin: 50px auto;
    }
    
    /* Header trên cùng */
    .footer__content-firt {
        width: 100%;
        display: flex;
       flex-direction: column;
    }
    
    .footer__content-firt-img {
        width: 50%;
        height: auto;
    }
    .footer__column {
        width: 50%;
    }
    .footer__content-firt-phone {
        width: 100%;
        line-height: 25px;
    }
    
    .footer__content-firt-phone-number {
        font-size: 1.3rem;
    }
    
    .footer__content-firt-phone-text {
        width: 100%;
        font-size: 1.3rem;
        opacity: 0.6;
    }
    
    .footer__content-firt-email {
        width: 100%;
        line-height: 25px;
        margin-top: -20px;
    }
    
    .footer__content-firt-emai-name {
        font-size: 1.3rem;
    }
    
    .footer__content-firt-email-text {
        font-size: 1.3rem;
        opacity: 0.6;
    }
    
    .footer__content-firt-icon {
       width: 40%;
       display: flex;
       margin: -20px 0 20px;
    }
    
    .footer__content-firt-icon i {
        margin-right: 20px;
        width: 20%;
        height: 35px;
        border-radius: 50% ;
        border: solid 1px var(--text-color);
        text-align: center;
        line-height: 35px;
        font-size: 1.7rem;
    }
    
    /* Header thứ 2 */
    .footer__content-list {
        width: 570px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 10px 0 0;
    }
    .footer__content-list-child {
        list-style: none;
    }
    .footer__content-list-child-name {
        font-size: 1.7rem;
        margin: 15px 0;
    }
    /* Phần text không có tiêu đề */
    .footer__content-list-child-name-none{
     margin-top: 40px;
    }
    .footer__content-list-child-text {
     
    }
    .footer__content-list-child-text-text {
        font-size: 1.4rem;
        opacity: 0.6;
        line-height: 35px;
    }
    
    /* Phần tên cty + ngày cấp  */
    .footer__license{
        width: 570px;
        flex-direction: column;
        margin: 0 auto;
    }
    .footer__license-firt{
        width: 100%;
        font-size: 1.5rem;
        opacity: 0.6;
        margin-bottom: 20px;
    }
    .footer__license-last{
        width: 100%;
        display: flex;
       flex-direction: column;
    }
    .footer__license-last-text{
        font-size: 1.4rem;
        line-height: 30px;
        opacity: 0.6;
    }
    
    /* Phần địa chỉ và số tài khoản */
    .footer__location{
        width: 570px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 0 15px;
    }
    .footer__location-firt{
        width: 100%;
        font-size: 1.4rem;
        opacity: 0.6;
        margin: 10px 0;
    }
    .footer__location-last{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .footer__location-last-text{
        font-size: 1.4rem;
        opacity: 0.6;
    }
    
    /* Phần bộ công thương và icon thanh toán */
    .footer__img{
        width: 570px;
        display: flex;
        flex-direction: column;
        padding: 0 15px;
        margin: 15px auto 10px;
    }
    .footer__img-fist{
        width: 100%;
    }
    .footer__img-firt-img{
        width: 30%;
        margin-bottom: 10px;
    }
    .footer__img-last{
        width: 100%;
        display: flex;
    }
    .footer__img-last-text{
        font-size: 1.4rem;
        opacity: 0.6;
        width: 30%;
    }
    .footer__img-last-icon{
        width: 70%;
    
    }
    .footer__img-last-icon-img{
        width: 50px;
        margin: 0 20px;
    }  
}

/* Tablet 769px - 990px */
@media(min-width: 48.0625em) and (max-width: 61.875em) {
    .footer {
        width: 100%;
        position: relative;
    }
    .footer__dash {
        width: 100%;
        height: 1px;
        background-color: var(--text-color);
        opacity: 0.6;
    }
    
    .footer__content {
        width: 770px;
        /* display: flex; */
        flex-wrap: wrap;
        padding: 0 20px;
        margin: 50px auto;
    }
    
    /* Header trên cùng */
    .footer__content-firt {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    
    .footer__content-firt-img {
        width: 100%;
        height: 40px;
        margin-right: 20px;
    }
    .footer__column {
        width: 30%;
        margin: 0 30px ;
    }
    .footer__content-firt-phone {
        width: 100%;
        line-height: 25px;
    }
    
    .footer__content-firt-phone-number {
        font-size: 1.4rem;
    }
    
    .footer__content-firt-phone-text {
        width: 100%;
        font-size: 1.4rem;
        opacity: 0.6;
    }
    
    .footer__content-firt-email {
        width: 100%;
        line-height: 25px;
        margin-top: -20px;
    }
    
    .footer__content-firt-emai-name {
        font-size: 1.4rem;
    }
    
    .footer__content-firt-email-text {
        font-size: 1.4rem;
        opacity: 0.6;
    }
    
    .footer__content-firt-icon {
       width: 40%;
       display: flex;
      padding: 0 0 0 30px;
    }
    
    .footer__content-firt-icon i {
        margin-right: 20px;
        width: 20%;
        height: 40px;
        border-radius: 50% ;
        border: solid 1px var(--text-color);
        text-align: center;
        line-height: 40px;
        font-size: 1.7rem;
    }
    .footer__content-firt-icon i:hover {
        cursor: pointer;
        background-color: var(--main-color);
    }
    
    /* Header thứ 2 */
    .footer__content-list {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 10px 0 0;
    }
    .footer__content-list-child {
        list-style: none;
    }
    .footer__content-list-child-name {
        font-size: 1.8rem;
        margin-bottom: 20px;
    }
    /* Phần text không có tiêu đề */
    .footer__content-list-child-name-none{
     margin-top: 25px;
    }
    .footer__content-list-child-text {
     
    }
    .footer__content-list-child-text-text {
        font-size: 1.5rem;
        opacity: 0.6;
        line-height: 45px;
    }
    
    /* Phần tên cty + ngày cấp  */
    .footer__license{
        width: 770px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .footer__license-firt{
        width: 100%;
        font-size: 1.5rem;
        opacity: 0.6;
        margin-bottom: 20px;
    }
    .footer__license-last{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 5px 0 0;
    }
    .footer__license-last-text{
        font-size: 1.5rem;
        opacity: 0.6;
    }
    
    /* Phần địa chỉ và số tài khoản */
    .footer__location{
        width: 770px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 0 15px;
    }
    .footer__location-firt{
        width: 100%;
        font-size: 1.5rem;
        opacity: 0.6;
        margin: 10px 0;
    }
    .footer__location-last{
        width: 100%;
        display: flex;
    }
    .footer__location-last-text{
        font-size: 1.5rem;
        opacity: 0.6;
    }
    
    /* Phần bộ công thương và icon thanh toán */
    .footer__img{
        width: 770px;
        display: flex;
        flex-direction: column;
        padding: 0 15px;
        margin: 15px auto 10px;
    }
    .footer__img-fist{
        width: 100%;
    }
    .footer__img-firt-img{
        width: 30%;
        margin-bottom: 10px;
    }
    .footer__img-last{
        width: 100%;
        display: flex;
    }
    .footer__img-last-text{
        font-size: 1.5rem;
        opacity: 0.6;
        width: 25%;
    }
    .footer__img-last-icon{
        width: 75%;
    
    }
    .footer__img-last-icon-img{
        width: 60px;
        margin: 0 20px;
    }   
}

/* PC >=991 */
@media (min-width: 61.9375em) {
    
}
.pfooter{
    width: 250px;
    font-weight: bold;
    font-size: 14px;
    color: #555;
}
.h3footer{
    color: rgb(136,217,20);
    font-size: 2rem;
}
.information{
    font-size: 15px;
    font-weight: bold;
}
.footer__content-next2{
    margin-left: 20px
}