.header {
    flex: 1;
    height: 75px;
    display: flex;
    justify-content: space-between;
    background-color: var(--white-color);
    padding: 0 30px 0;
    z-index: 1;
    line-height: 75px;
    position: relative;
}
.header__payload {
    position: absolute;
    top: 50%;
    left: 50%;
}
.header__icon .header__icon-img {
    width: 150px;
    height: 60;
    margin-top: 10px;
}
.login__page {
    display: block;
}

.header__icon-img:hover {
    cursor: pointer;
}

.header__page {
    display: flex;
    align-items: center;
  
    /* margin-top: -20px; */
}
.header__page-item {
    list-style: none;
    text-decoration: none;
    color: var(--text-color);
}
.header__page .header__page-item {
    list-style-type: none;
    font-size: 1.5rem;
    margin: 0 20px 0 20px;
    font-weight: 600;
}
.logout-item-page {
    list-style-type: none;
    font-size: 1.5rem;
    margin: 0 20px 0 20px;
    font-weight: 600;
    list-style: none;
    text-decoration: none;
    color: var(--text-color);
    cursor: pointer;
}
.header__page-item:hover {
    cursor: pointer;
}

/* Thẻ gạch dọc */
.header__page-item-vertical {
    list-style-type: none;
    width: 1px;
    height: 100%;
    margin: 0 15px 0 30px;
    background-color: var(--text-color);
}

/* Chuông khi xuất hiện khi mobile */
.bell__notification {
    font-size: 2rem;
    display: none; 
}
.header__page-item-login:hover {
    cursor: pointer;
    color: var(--text-color)
}

.header__page-item-login-firt {
    font-size: 2rem;
}
.header__page-item-login-iconbars {
    font-size: 2rem;
    display: none;
    margin-left: 20px;
}
.header__page-item-login-iconbars:hover{
    cursor: pointer;
}
/* Css payload */
.header__page-item-login-avt img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0px 10px 0 20px;
    align-self: center;
}

.header__page-item-login-name {
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--text-color)
}

.header__page-item-login-last {
    font-size: 2rem;
    margin-left: 10px;
}
/* Phần hiển thị thẻ con của thông báo  */
.header__page-item-login-bell {
    position: relative;
}
.header__page-item-login-bell-list {
    position: absolute;
    display: none;
    visibility: visible;
    font-weight: 400 !important;
    color: #000 !important;
    line-height: 25px;
    padding: 20px 30px;
    min-width: 200px;
    height: auto;
    background-color: #fff;
    text-align: center;
    z-index:10;
    top: 40px;
    left:-70px ;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    box-shadow: 0 8px 24px 12px rgba(0, 0, 0, .08);
    cursor: auto;
}
.header__page-item-login-bell:hover  .header__page-item-login-bell-list{
    display: block;
}
.header__page-item-login-bell-list:hover {
    display: block;
}
.header__page-item-login-bell-list::before {
    content: "";
    border-width: 20px 20px;
    border-style: solid;
    border-color:transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 0px;
    top: -30px;
}
.header__page-item-login-bell-list::after {
    content: "";
    display: block;
    position: absolute;
    width: 160px;
    height: 40px;
    right: -20px;
    top: -30px; 
}
.header__page-item-login-bell-list-name{
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: 10px;
}
.header__page-item-login-bell-list-text{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-color);
  }
/* Phần chứa thẻ div khi hover vào icon arrow */
.header__page-item-login-arrow {
    position: relative;
}
.header__page-item-login-arrow-list {
    position: absolute;
    display: none;
    visibility: visible;
    font-weight: 400 !important;
    color: #000 !important;
    line-height: 25px;
    padding: 12px;
    min-width: 150px;
    background-color: #fff;
    text-align: left;
    z-index:10;
    top: 40px;
    left:-35px ;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    box-shadow: 0 8px 24px 12px rgba(0, 0, 0, .08);
}
.header__page-item-login-arrow:hover  .header__page-item-login-arrow-list{
    display: block;
}
.header__page-item-login-arrow-list:hover {
    display: block;
}
.header__page-item-login-arrow-list::before {
    content: "";
    border-width: 20px 20px;
    border-style: solid;
    border-color:transparent transparent var(--white-color) transparent;
    /*trên phải dưới trái */
    position: absolute;
    right: 0px;
    top: -30px;
}
.header__page-item-login-arrow-list::after {
    content: "";
    display: block;
    position: absolute;
    width: 160px;
    height: 40px;
    right: -20px;
    top: -30px; 
    /* background-color: red; */
}
.header__page-item-login-arrow-list-name{
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--text-color);
}
.header__page-item-login-arrow-list-name i {
    margin-right: 10px;
}
/* lúc đã đăng nhập tài khoản */
.header__page-item-login {
    display: flex;
    text-decoration: none;
    color: var(--text-color);
    height: 40px;
    line-height: 40px;
    position: relative;
}
.header__payload {
    position: absolute;
    top: 50%;
    right: 0;
    text-align: center;
    padding-left: 200px;
}
/* Đã đăng nhập tài khoản và đây là thanh menu hiển thị khi reponsive */
.nav__bars-icon {
    cursor: pointer;
    user-select: none;
    display: none;
    position: relative;
}
/* lúc chưa đăng nhập, mặc định */
.header__page-item-logout {
    display: flex;
    height: auto;
    text-decoration: none;
    display: block;
    margin-left: 20px ;
    margin-top: 2px;
}
.about__mobile {
    display: none;
}
.header__page-item-logout-register:nth-child(1) {
    margin-right: 20px;
    text-decoration: none;
 font-size: 1.5rem;
 color: var(--text-color);
 font-weight: 600;
}

.header__page-item-logout:hover {
    cursor: pointer;
}

/* nút đăng ký */
.header__page-item-logout-register-button {
    width: 110px;
    height: 50px;
    border: solid 1px var(--text-color);
    border-radius: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    margin: auto 0;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 600;
}

/* Overlay */
.nav__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--white-color);
    display: none;
    z-index: 10;
    animation: fadeIn ease 1s;
    overflow-y: auto;
    padding: 20px;
}
.header__page-item-login-overlay {
    width: 100%;
    height: 100%;
}
#nav-tablet-input:checked + .nav__overlay {
    display: block;
}
#close-overlay{
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 2.5rem;
}
.close-overlay-icon {
    position: absolute;
    right: 10px;
    color: var(--button-color);
}
.close-overlay-icon:hover {
  opacity: 0.5;
}
.header__page-item-login-overlay {
    display: flex;
    flex-direction: column;
}
.nav__user {
    display: flex;
    flex-direction: column;
}
.header__page-item-login-overlay-avt {
   text-decoration: none;
   text-align: center;
}
.header__page-item-login-overlay h3 a{
    text-decoration: none;
  }
.header__page-item-login-overlay-avt img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px 0;
}
.header__page-item-login-overlay-avt-name {
    font-size: 2rem;
    color: var(--text-color);
    margin-top: -30px;
    margin-bottom: 10px;
    line-height: 30px;
}
.header__page-item-login-overlay-about, 
.header__page-item-login-overlay-go,
.header__page-item-login-overlay-pay,
.header__page-item-login-overlay-listblog {
    text-align: center;
    text-decoration: none;
    border-top: 1px solid var(--text-color);
    border-bottom: 1px solid var(--text-color);
    cursor: pointer;
    display: none;
}
.header__page-item-login-overlay-about-name,
.header__page-item-login-overlay-go-name,
.header__page-item-login-overlay-logout,
.header__page-item-login-overlay-profile,
.header__page-item-login-overlay-pay-name,
.header__page-item-login-overlay-listblog-name
 {
    font-size: 2rem;
    color: var(--text-color);
}
.header__page-item-login-overlay-logout {
    text-align: center;
    text-decoration: none;
    border-top: 1px solid var(--text-color);
    border-bottom: 1px solid var(--text-color);
    cursor: pointer;
}
.header__page-item-login-overlay-profile {
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.header__page-item-login-overlay-logout i,
.header__page-item-login-overlay-profile i{
    margin-right: 10px;
}

.navbar__notuser {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.navbar__notuser-name {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
    padding: 20px;
}
.navbar__notuser-login ,
.navbar__notuser-register {
    text-align: center;
    text-decoration: none;
    border-top: 1px solid var(--text-color);
    border-bottom: 1px solid var(--text-color);
    cursor: pointer;
    font-size: 2rem;
}
/* Reponsive */

/* Mobile 750px*/
@media (max-width: 46.875em) {
    .bell__notification {
        display: block;
    }
    .header__page-item-logout {
        display: none;
    }
    .header__page-item {
        display:none;
    }
    .header__icon .header__icon-img {
        width: 100px;
        height: 20px;
        margin-bottom: 20px;
    
    }
    .header__page-item-vertical {
        display: none;
    }
    .header__page-item-login {
        display: none;
    }
    .header__page-item-login-iconbars {
        display: block;
    }
    .nav__bars-icon {
        display: block;
    }
    .header__page-item-login-overlay-about {
        display: block;
    }
    .header__page-item-login-overlay-pay {
        display: block;
    }
    .header__page-item-login-overlay-listblog {
        display: block;
    }
    .header__page-item-login-overlay-go {
        display: block;
    }
    .logout-item-page {
        display: none;
    }
    .about__mobile {
        display: block;
    } 
}
/* Tablet (751px - 990px)*/
@media (min-width: 46.9375em) and (max-width: 61.875em) {
    .header__page-item-logout {
        display: none;
    }
    /* .header__page-item-login{
        display: none;
    } */
    .header__icon .header__icon-img {
        width: 120px;
        height: 25px;
        margin-bottom: 15px;   
    }
    .header__page-item-login-iconbars {
        display: block;
    }
    .nav__bars-icon {
        display: block;
    }
    .header__page-item-login-avt {
        display: none;
    } 
    .header__page-item-login-name {
        display: none;
    }
    .header__page-item-login-arrow {
        display: none;
    }
}

/* PC (> 991px)*/
@media screen and (min-width: 61.9375em) {

}
.header {
    margin-top: -20px;
    position: fixed;
    width: 100%;
    background-color: rgb(255, 255, 255); /* Màu nền của header */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Hiệu ứng chuyển đổi màu và đổ bóng */
    z-index: 1000; /* Đảm bảo header ở trên cùng */
  }
  
  .header.fixed {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Đổ bóng khi cố định */
  }
  
  .header.transparent {
    background-color: rgba(255, 255, 255, 0.832); /* Đặt màu nền là trong suốt */
  }
  #gioithieu{
    font-weight: bold !important;
    color: #624dd6;
  }
  #tintuc{
    font-weight: bold !important;
    color: #14bba1;
  }
  #trangchu{
    font-weight: bold !important;
    color: #dd4f75;
  }
  #lienhe{
    font-weight: bold !important;
    color: #ff4400;
  }
  #dangky{
    font-weight: bold !important;
    color: #00ff37;
  }
  #dangnhap{
    font-weight: bold !important;
    color: #1500ff;
  }