.pay {
  width: 100%;
  height: auto;
}
.pay__information {
  width: 80%;
  margin: 20px auto;
  border: 2px solid rgb(203, 200, 200);
  background-color:rgb(226, 251, 229);
  padding: 10px;
  border-radius: 10px;
}
.pay__information-name {
  text-align: center;
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 20px;
}
.pay__information__flex {
  display: flex;
}
.pay__information-product {
  width: 50%;
  padding-left: 10px;
}
.pay__information-product span {
  font-size: 2rem;
  font-weight: 600;
}
.pay__information-product span i {
  margin-left: 10px;
  color: var(--button-color)
}
.pay__information-product-all {
display: flex;
flex-direction: column;
gap: 10px;
margin-top: 10px;
}
.pay__information-product-name {
display: flex;
}
.pay__information-product-name  h3 {
  font-size: 1.8rem;
  margin: 0 10px 0 10px;
}
.pay__information-product-name p{
  font-size: 1.6rem;
  margin-top: 2px;
} 
.pay__information-product-image {
  width: 100%;
}
.pay__information-product-all p{
  font-size: 1.6rem;
}
.pay__information-product-image img{
width: 70%;
border-radius: 10px;
margin-left: 10px;
} 
.pay__information-user {
width: 50%;

}
.pay__information-user span{
  font-size: 2rem;
  font-weight: 600;

}
.pay__information-user__border {
border-radius: 10px;
 margin-top: 40px;
}
.pay__information-user span i{
  color: var(--button-color);
  margin-left: 10px;
}
.pay__information-user-name,
.pay__information-user-phone,
.pay__information-user-location {
  margin-top: 10px;
  width: auto;
  padding: 5px 10px;
  border: 1px solid var(--text-color);
}
.pay__information-user-name p,
.pay__information-user-phone p,
.pay__information-user-location p{
font-size: 1.8rem;
}
.pay__information-method {
  width:100%;
  margin-top: 15px;
  display: flex ;
}
.pay__information-method span {
  font-size: 2rem;
  font-weight: 600;

}
.pay__information-method-online,
.pay__information-method-ofline {
  background-color: var(--main-color);
  padding: 5px 10px;
  margin-left: 5px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}
.pay__information-method-online p,
.pay__information-method-ofline p {
  font-size: 1.4rem;
}
.pay__information-pay {
  width:auto;
  margin-top: 20px;
  text-align: center;
}
.pay__information-pay-button {
  margin: 0 auto;
  background-color: var(--button-color);
  border: none;
  color: var(--white-color);
  font-size: 2rem;
  font-weight: 600;
}
.pay__information-pay-button:disabled {
  background-color: #ccc; 
  cursor: not-allowed;
}

.pay__information-method-online.selected,
.pay__information-method-ofline.selected {
background-color: #108f2f;
color: #fff;
border: 1px solid #3498db;
}

.pay__information-method-online,
.pay__information-method-ofline {
cursor: pointer;
transition: background-color 0.3s, color 0.3s, border 0.3s;
}


@media (max-width : 1290px) {
  .pay__information-user__border {
   
     margin-top: 20px;
  }
  .pay__information-user-name,
.pay__information-user-phone,
.pay__information-user-location {
margin-top:30px;



}
}
@media (max-width: 38.125em) {
  .pay {
    padding: 10px;
  }
  .pay__information {
      width: 100%;
  }
  .pay__information-product-image {
      width: 95%;
  }
}
@media (max-width: 1000px){
  .pay__information__flex{
      display: flex;
      flex-direction: column;
  }
  .pay {
      width: 90%;
      margin: auto;
     
  }
  .pay__information-product-image img{
      width: 100%;
  }
    
  .pay__information-product{
      width: 100%;
  }
  .pay__information-user {
      width: 100%;
      margin-top: 20px;
  }
  .pay__information-user__border{
      margin-top: 20px;
  }
}
@media (max-width:490px) {
  .pay__information-method {
      width: 100%;
      flex-direction: column;
      align-items: center;
  }
  .pay__information-method-online ,
  .pay__information-method-ofline {
    margin-top: 5px;
    width: 50%;

  }
}
@media (max-width: 23.75em) {
  .pay__information {
      width: 100%;     
  }

  .pay__information-method {
      flex-direction: column;
  }
  .pay__information-method-online ,
  .pay__information-method-ofline {
    margin-top: 5px;
  }
  
}

/* CSS */
.confirmation-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.confirmation-popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 300px;
  height: 150px;
}
.confirmation-popup-content  p {
  font-size: 1.8rem;
}
.confirmation-popup-buttons {
  margin-top: 20px;
}
.success-message {
  position: fixed;
  top: 20px;
  right: 20px;
  background: #28a745; /* Màu xanh lá cây của Bootstrap, bạn có thể thay đổi theo ý muốn */
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.confirm-button,
.cancel-button {
  padding: 8px 16px;
  margin: 0 10px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

.confirm-button {
  background-color: green;
  color: white;
}

.cancel-button {
  background-color: red;
  color: white;
}


/* modal thong bao */
.recharge-modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.recharge-modal-content{
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 450px;
  background-color: #fff;
  padding: 20px;
  font-size: 2rem;
}
.recharge-modal-content .warning-text{
  color: red;
  text-align: center;
}

.recharge-modal-btn{
  display: flex;
  justify-content: space-between;
}

.img-hettien{
  width: 100%;
  height: 80%;
}

.recharge-modal-text{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* modal thong bao thanh cong  */
.success-modal{
  position: fixed;
  top: -10%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  display: flex;
}

.success-modal-content{
  padding: 20px;
  background-color: #ccc;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 200px;
  min-width: 350px;
  text-align: center;
  gap: 20px;
}