.Forgotpassword-container {
  scroll-behavior: smooth;
  position: relative;
  /* top: 150px; */
  left: 0;
  bottom: 0;
  right: 0;
  max-width: 461px;
  margin: 20px auto;

}

.Forgotpassword-content {
  position: relative;
  background-color: rgb(244, 243, 243);
  border-radius: 8px;
  padding: 10px 24px 32px;
}

.Forgotpassword-header h2 {
  text-align: center;
  padding: 10px 0;
  font-size: 2rem;
}

.Forgotpassword-input-body {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  gap: 10px;
}

.custom-input-Forgotpassword {
  width: 100%;
  display: flex;
  flex-direction: column;
  grid-gap: 6px;
  gap: 6px;
}

.custom-input-Forgotpassword .wrap-info-Forgotpassword .title-status-Forgotpassword p {
  font-size: 1.4rem;
  font-weight: 700;
  color: #767676;
}

.custom-input-Forgotpassword .wrap-input-Forgotpassword {
  display: flex;
  align-items: center;
  grid-gap: 10px;
  gap: 10px;
  padding: 12px;
  border: 1px solid #d8dae5;
  background: #fff;
  border-radius: 10px;
}

.wrap-text-Forgotpassword {
  width: 100%;
}

.wrap-input-Forgotpassword input {
  border: none;
  width: 100%;
  outline: none;

}

.Forgotpassword-wrap-test {
  width: 100%;
}

.Forgotpassword-wrap-test p {
  float: right;
  color: #07ae1b;
  font-size: 1.4rem;
  cursor: pointer;
}

.wrap-btn-Forgotpassword {
  width: 100%;
  padding-top: 10px;
}

.wrap-btn-Forgotpassword button {
  width: 100%;
  padding: 20px 0;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  background-color: #07ae1b;

}

@media (max-width: 500px) {
  .Forgotpassword-container {
    max-width: 370px;
  }

}

@media (max-width: 600px) {
  .Forgotpassword-container {
    max-width: 320px !important;
  }
}

@media (max-width: 400px) {
  .Forgotpassword-container {
    max-width: 280px !important;
  }
}



.backdrop-hide {
  display: none;
}
.backdrop-show {
 
}

.backdrop-hide {
  display: none;
}

.success-message {
  z-index: 1000;
  position: fixed;
  top: -100px; /* Bắt đầu ẩn thông báo ở trên cùng */
  right: 20px;
  background-color: #54cd58;
  padding: 10px;
  width: 300px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  animation: fadeInUp 3s ease-in-out; /* Thêm animation để xuất hiện mượt mà */
  animation-fill-mode: forwards; /* Giữ lại trạng thái cuối cùng của animation */

}
@keyframes fadeInUp {
  from {
    top: -80px;
    opacity: 0;
  }
  to {
    top: 100px;
    opacity: 1;
  }
}

.success-message p {
  color: white !important;
}